html,body{

}

body{
	background-color: #4d515e;
	}

.main{
	background-color: white;
	width: 75.88%;
	margin:100px auto;
	border: solid 1px #4d515e;
	border-radius: 10px;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
}

/*左*/

.content{
	padding-top:50px;
	font-size: 10px;

}
.article,.signUp{
	padding:0 110px 0 50px;
}
.article{
	margin-bottom: 50px;

}
.article p{
	color: #949cab;
	line-height: 1.5em;
}
.article h1{
	font-size:3em;
	font-weight: lighter;
}


.signUp{
	margin-bottom: 60px;
}

.signUp a{
	display: block;
	border: solid 2px #e3e7ec;
	border-radius: 5px;
	margin-bottom: 20px;
	
}

.signUp a:hover{
	box-shadow: 0px 5px 30px #f0f0f0;
	border: solid 1px #f0f0f0;
}
.signUp li{
	margin: 0;
	padding: 20px;
	list-style-type: none;
	display: flex;
	align-items: center;
	color:#545b67;
	font-weight: bold;
	font-size: 12px;
}
.signUp img{
	width: 30px;
	
}
.signUp li span{
	margin:0 auto;
}


.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: solid 1px #e8eff6; 
	color:#545b67;
	padding:20px 0 20px 50px;

}
.footer a{
	margin-right: 110px;
	color: #b3d47e;
	font-size: 10px;
	display: flex;
	align-items: center;
}
.footer a::after{
	content: "";
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url("../images/arrow.png");
	background-size: cover;
	margin-left: 1em;
	
}

a{
	text-decoration: none;
}



/*.footer a:after{
	content: "";
	width: 10px;
	height: 10px;
	display: block;
	border: solid;
}
*/

/*右*/
.pic{
	flex-basis:36.08%;
	flex-shrink: 0;
	background-image: url("../images/chongqing.png");
	background-size: cover;
}